* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
} */

#header {
  width: 100vw;
  position: absolute;
  z-index: 2;
}

.navbar-desktop {
  flex-direction: row !important;
  gap: 1rem;
}

.navbar-mobile {
  align-items: center;
}

.logo img {
  height: 180px;
}

.nav-link {
  text-decoration: underline !important;
  color: black;
  font-weight: bolder;
  font-size: 22px;
}

.menuHamburguer img {
  width: 40px;
  height: 40px;
}

.carousel-item {
  background: url("./assets/background-example.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.home-content {
  position: absolute;
  z-index: 1;
  top: 220px;
  left: 50%;
  width: 1000px;
  transform: translateX(-50%);
  text-align: center;
}

.title-main {
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

.box-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 30px;
  text-align: center;
}

.title-box {
  font-family: "Times New Roman", Times, serif;
}

.desc-box {
  font-family: sans-serif;
  font-size: 16px;
}

.wpp-button {
  padding: 10px;
  position: absolute;
  z-index: 1;
  background-color: black;
  border-radius: 50%;
}

.wpp-button img {
  width: 50px;
  height: 50px;
}

/*build-your-project*/

#build-your-project {
  background-color: #000;
}

#build-your-project .byp-cover {
  width: 100%;
  height: 700px;
  position: relative;
  background: url("./assets/cover-example.jpg") no-repeat center center;
}

.title-byp {
  text-align: start;
  color: white;
}

.btn-byp {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  padding: 15px 20px;
  width: 300px;
}

.btn-byp p {
  margin-bottom: 0;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.byp-content {
  max-width: 700px;
  padding: 20px;
}

.byp-content-title {
  color: #88ca68;
  font-size: 20px;
}

.byp-content-desc {
  color: #fff;
  font-size: 16px;
}

/*more-infos*/

.box-mi-title {
  padding: 10px 0;
  border-bottom: 4px solid black;
  margin: 20px auto 40px;
}

.more-infos-title {
  text-align: center;
  color: #000;
}

.more-infos-title img {
  width: 50px;
}

.mi-cards {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.card-info-more {
  background-color: #d9d9d9;
  padding: 20px 20px;
  width: 100%;
}

.cim-title {
  font-size: 20px;
  font-weight: bold;
}

.cim-desc {
  padding: 10px 30px 10px 10px;
  margin-bottom: 0 !important;
  background-color: #000;
  color: #fff;
  width: 100%;
}

/*projects*/

.cards-project {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.card-project {
  max-width: 400px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
}

.icons img {
  width: 30px;
}

.icon-text {
  font-size: 14px;
  margin-bottom: 0 !important;
  font-weight: bold;
}

.card-project-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.pc-title{
  font-size: 30px;
}

@media (min-width: 280px) {
  .logo img {
    height: 70px;
  }

  .title-main {
    font-size: 28px;
  }
  .desc-home {
    font-size: 18px;
  }

  .title-box {
    font-size: 20px;
  }

  .desc-box {
    font-size: 12px;
  }

  .wpp-button {
    bottom: 230px;
    left: 10px;
  }

  #build-your-project {
    flex-direction: column !important;
  }

  .title-byp {
    font-size: 30px;
    margin-top: 20px;
  }

  .btn-byp {
    padding: 15px 15px;
    width: 200px;
  }

  .btn-byp p {
    font-size: 20px;
  }

  .cim-img img {
    width: 60px;
  }

  .cim-title {
    font-size: 18px;
  }

  .cim-desc {
    padding: 10px;
    font-size: 16px;
  }

  .cards-project {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 340px) {
  .logo img {
    height: 100px;
  }

  .title-main {
    font-size: 34px;
  }
  .desc-home {
    font-size: 20px;
  }

  .title-box {
    font-size: 24px;
  }

  .desc-box {
    font-size: 14px;
  }

  .wpp-button {
    bottom: 280px;
  }

  .title-byp {
    font-size: 34px;
  }

  .btn-byp {
    width: 240px;
  }
}

@media (min-width: 400px) {
  .logo img {
    height: 100px;
  }

  .title-main {
    font-size: 40px;
  }

  .desc-home {
    font-size: 20px;
  }

  .title-box {
    font-size: 28px;
  }

  .desc-box {
    font-size: 16px;
  }

  .wpp-button {
    bottom: 300px;
  }

  .title-byp {
    font-size: 40px;
  }

  .btn-byp {
    padding: 15px 15px;
    width: 250px;
  }
}

@media (min-width: 500px) {
  .logo img {
    height: 100px;
  }

  .navbar {
    padding: 10px;
  }

  .title-main {
    font-size: 50px;
  }
  .desc-home {
    font-size: 24px;
  }

  .wpp-button {
    bottom: 10px;
  }

  .title-byp {
    font-size: 50px;
  }

  .btn-byp {
    padding: 15px 20px;
    width: 300px;
  }

  .mi-cards {
    grid-template-columns: 1fr 1fr;
  }

  .cim-img img {
    width: 50px;
  }

  .cim-desc {
    padding: 10px;
    font-size: 13px;
  }
}

@media (min-width: 600px) {
  .title-main {
    font-size: 60px;
  }

  .title-byp {
    font-size: 70px;
  }

  .title-byp {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .menuHamburguer {
    display: none;
  }

  .title-main {
    font-size: 70px;
  }

  .title-byp {
    font-size: 70px;
  }

  .cim-img img {
    width: 70px;
  }

  .cim-title {
    font-size: 20px;
  }

  .cim-desc {
    padding: 10px;
    font-size: 16px;
  }

  .cards-project {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .navbar-desktop > .nav-item {
    display: none;
  }
}

@media (min-width: 900px) {
  .title-main {
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  .logo img {
    height: 120px;
  }

  .title-main {
    font-size: 90px;
  }

  .nav-link {
    font-size: 24px;
  }

  .mi-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1040px) {
  #build-your-project {
    flex-direction: row !important;
  }

  .byp-cover {
    width: 60% !important;
  }

  .byp-content {
    width: 40% !important;
    padding: 30px;
  }

  .box-mi-title {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .navbar {
    margin-right: 50px;
  }

  .logo img {
    height: 150px;
  }

  .title-main {
    font-size: 100px;
  }

  .nav-link {
    font-size: 28px;
  }

  .cards-project {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
