@media (min-width: 0px) {
  #areaCliente {
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 30px;
  }

  #areaCliente .right,
  #areaCliente .left {
    width: 100%;
  }

  #areaCliente .left {
    margin-top: 20px;
  }

  #areaCliente .messsage {
    font-size: 16px;
  }

  #areaCliente .right {
    margin-bottom: 20px;
  }
}

@media (min-width: 340px) {
  #areaCliente .formTitle {
    font-size: 40px;
  }
  #areaCliente .messsage {
    font-size: 20px;
  }
}

@media (min-width: 400px) {
  #areaCliente .messsage {
    font-size: 24px;
  }

  #areaCliente .formLabel,
  #areaCliente .formInput {
    font-size: 20px;
  }
}

@media (min-width: 500px) {
  #areaCliente .messsage {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  #areaCliente {
    flex-direction: row;
    gap: 30px;
  }
  #areaCliente .left {
    width: 50%;
  }
  #areaCliente .messsage {
    font-size: 24px;
  }
  #areaCliente .right {
    width: 50%;
  }
}

@media (min-width: 1040px) {
  #areaCliente {
    justify-content: space-between !important;
  }
}

@media (min-width: 1280px) {
  #areaCliente .messsage {
    font-size: 28px;
  }
}
