body {
  background: url("../assets/background-example.jpg");
  width: 100%;
  height: 100vh;
}

main,
#areaCliente {
  height: 100%;
}

#areaCliente .logo img {
  width: 100%;
}

#areaCliente .right{
  width: 600px;
}

#areaCliente .messsage {
  font-family: serif;
  color: #fff;
  margin-bottom: 0 !important;
}

#areaCliente .contactForm {
  background-color: #dedee0;
  padding: 20px;
  width: 100%;
}

#areaCliente .formTitle {
  font-family: serif;
  margin-bottom: 0 !important;
}

#areaCliente .inputs,
#areaCliente .textarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#areaCliente .formLabel {
  font-weight: bold;
  margin: 20px 0 5px;
}

#areaCliente .formInput,
#areaCliente .formTextArea {
  border: 2px solid #000;
  background: transparent;
  width: 100%;
}

#areaCliente .formInput {
  height: 40px;
}

#areaCliente .infoContato{
  margin-top: 30px;
}

#areaCliente .infoContato a {
  margin-bottom: 0 !important;
  font-weight: bold;
  color: #000;
}

#areaCliente .btnSubmit{
  width: 100%;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
}
