@media (min-width: 0px) {
  #header .logo img {
    height: 70px;
  }

  #blog .blogHomeDesc {
    font-size: 20px;
  }

  #blog .blogHomeTitle {
    font-size: 22px;
  }

  #blog .blogHomeBtn {
    font-size: 20px;
    padding: 20px 50px;
  }

  #projetosComplementares .projetosCCards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (min-width: 280px) {
}

@media (min-width: 340px) {
  #header .logo img {
    height: 100px;
  }

  #blog .blogHomeTitle {
    font-size: 26px;
  }

  #blog .blogHomeBtn {
    font-size: 20px;
    padding: 20px 70px;
  }
}

@media (min-width: 400px) {
  #header .logo img {
    height: 100px;
  }

  #blog .blogHomeTitle {
    font-size: 26px;
  }
}

@media (min-width: 500px) {
  #header .logo img {
    height: 100px;
  }

  #header .navbar {
    padding: 10px;
  }

  #blog .blogHomeDesc {
    font-size: 20px;
  }

  #blog .blogHomeTitle {
    font-size: 28px;
  }

  #blog .blogHomeBtn {
    font-size: 20px;
    padding: 25px 70px;
  }
}

@media (max-width: 500px) {
}

@media (min-width: 600px) {
  #blog .blogHomeDesc {
    font-size: 24px;
  }

  #blog .blogHomeTitle {
    font-size: 34px;
  }

  #blog .blogHomeBtn {
    font-size: 22px;
    padding: 25px 100px;
  }
}
@media (min-width: 768px) {
  #header .menuHamburguer {
    display: none;
  }

  #header .navbar-desktop {
    gap: 10px;
  }
  #blog .blogHomeTitle {
    font-size: 40px;
  }
  #blog .content {
    margin-left: 100px;
  }
  #projetosComplementares .projetosCCards {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 768px) {
  #header .navbar-desktop > .nav-item {
    display: none;
  }
}

@media (min-width: 900px) {
  #header .nav-link {
    font-size: 22px;
  }

  #header .navbar-desktop {
    gap: 30px;
  }
  #blog .blogHomeTitle {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  #header .logo img {
    height: 120px;
  }

  #header .nav-link {
    font-size: 24px;
  }
  #projetosComplementares .projetosCCards {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media (min-width: 1040px) {
}

@media (min-width: 1280px) {
  #header .logo img {
    height: 150px;
  }

  #header .navbar {
    margin-right: 50px;
  }

  #header .nav-link {
    font-size: 28px;
  }

  #blog .blogHomeTitle {
    font-size: 60px;
  }
}
