body {
  background: url("../assets/background-example.jpg");
  width: 100%;
  height: 100vh;
}

main,
#cadastro {
  height: 100%;
  max-width: 1000px;
  margin: 30px auto;
}

#cadastro .cadastroForm {
  background-color: #dedee0;
  padding: 20px;
  width: 100%;
}

#cadastro .formTitle {
  font-family: serif;
  margin-bottom: 30px;
}

#cadastro .formDesc {
  margin-bottom: 30px;
}

#cadastro .formDesc p {
  font-weight: bold;
  margin-bottom: 0 !important;
}

#cadastro .loginIcons {
  margin-left: 40px;
}

#cadastro .loginIcons img {
  height: 50px;
}

#cadastro .formRadio input[type="radio"] {
  height: 30px;
  width: 30px;
}

.inputsRadio input, .btnTerms input{
  display: none;
}

.inputsRadio input + label:before, .btnTerms input + label:before{
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dedee0;
  border: 4px solid #000;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.inputsRadio input:checked + label:before, .btnTerms input:checked + label:before{
  content: '';
  background-color: #000;
}


#cadastro .formLabel {
  font-weight: bold;
}

#cadastro .formInput {
  border: 2px solid #000;
  background: transparent;
  width: 100%;
  height: 40px;
}

#cadastro .inputs .password {
  position: relative;
}

#cadastro .inputs .password p {
  position: absolute;
  font-weight: bold;
}

#cadastro .btnTerms {
  margin: 10px 0 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#cadastro .buttonSubmit {
  background-color: #000;
}

#cadastro .btnSubmit {
  width: 100%;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
}
