body {
  height: 100vh;
  background-color: #000;
}
#contato {
  background: #000 center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contato .contatoContent {
  background-color: #fff;
  padding: 20px;
  margin: 40px 0;
}

#contato .contatoTitle {
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #9bcd68;
  font-weight: bold;
}

#contato .contactCustomers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  justify-items: center;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}
