#demaisProjetos .demaisProjetosTitle {
  font-family: serif;
  text-align: center;
  margin-bottom: 0px !important;
  margin-top: 40px;
}

#demaisProjetos .demaisProjetosDesc {
  text-align: center;
  margin-bottom: 40px;
}

#demaisProjetos .dPCards {
  display: grid;
  gap: 20px;
}

#demaisProjetos .dCardTitle {
  background-color: #000;
  opacity: 0.7;
  font-size: 12px;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#demaisProjetos .dPCard {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  position: relative;
}

#demaisProjetos .face {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
}

#demaisProjetos .front {
  background: url("../assets/background-example.jpg") no-repeat center center;
  background-size: cover;
  transform: rotateY(180deg);
  position: relative;
}

#demaisProjetos .back {
  background-color: #fff;
  backface-visibility: hidden;
  color: #000;
  padding: 10px;
}

#demaisProjetos .backText{
  font-weight: bold;
}

#demaisProjetos .btnContrate{
  background-color: #000;
  text-decoration: none;
  color: #fff;
  padding: 10px 50px;
  opacity: 0.7;
}

#demaisProjetos .flip {
  transform: rotateY(180deg);
  transition: 0.5s all;
}
