.demaisProjetosTitle {
  font-family: serif;
  text-align: center;
  margin-bottom: 0px !important;
  margin-top: 40px;
}

.demaisProjetosDesc {
  text-align: center;
  margin-bottom: 40px;
}

.dPCards {
  display: grid;
  gap: 20px;
}

.dCardTitle {
  background-color: #000;
  opacity: 0.7;
  font-size: 12px;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dPCard {
  margin: 50px auto;
}

.face {
  width: 300px;
  height: 400px;
  perspective: 700px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: 700ms;
}

.front {
  background: url("../assets/background-example.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
}

.back {
  background: #000;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  color: #fff;
}

.face:hover > .front {
  transform: rotateY(180deg);
  z-index: 0;
}

.face:hover > .back {
  transform: rotateY(0);
  z-index: 1;
}
