@media (min-width: 0px) {
  #banner .bannerTitle {
    font-size: 28px;
  }
}

@media (min-width: 340px) {
  #banner .bannerTitle {
    font-size: 30px;
  }
}

@media (min-width: 400px) {
  #banner .bannerTitle {
    font-size: 34px;
  }
}

@media (min-width: 500px) {
  #banner .bannerTitle {
    font-size: 36px;
  }

  
}

@media (min-width: 600px) {
  #banner.bannerTitle {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  #banner .bannerTitle {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  #banner .bannerTitle {
    font-size: 60px;
  }

  
}

@media (min-width: 1040px) {
}

@media (min-width: 1280px) {
  #banner .bannerTitle {
    font-size: 70px;
  }
}
