#banner {
  position: relative;
}
#banner div {
  background: url("../assets/background-example.jpg") center center;
  filter: brightness(0.3);
  height: 300px;
  width: 100vw;
}

#banner .bannerTitle {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-family: serif;
  margin-bottom: 0 !important;
}

