@media (min-width: 0px) {
  #duvidasFrequentes {
    padding: 0;
  }

  #duvidasFrequentes .dFSubtitle {
    font-size: 14px;
  }
  #duvidasFrequentes .dFDesc {
    font-size: 14px;
    text-align: justify;
  }
}

@media (min-width: 340px) {
  #duvidasFrequentes .dFTitle {
    font-size: 30px;
  }

  #duvidasFrequentes .dFSubtitle {
    font-size: 16px;
  }
}

@media (min-width: 400px) {
  #duvidasFrequentes .dFTitle {
    font-size: 34px;
  }

  #duvidasFrequentes .dFSubtitle {
    font-size: 18px;
  }

  #duvidasFrequentes .dFDesc {
    font-size: 16px;
    text-align: justify;
  }
}

@media (min-width: 500px) {
  #duvidasFrequentes .dFTitle {
    font-size: 40px;
  }

  #duvidasFrequentes .dFSubtitle {
    font-size: 20px;
  }

  #duvidasFrequentes .dFDesc {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #duvidasFrequentes .dFTitle {
    font-size: 50px;
  }

  #duvidasFrequentes .dFSubtitle {
    font-size: 24px;
  }

  #duvidasFrequentes .dFDesc {
    font-size: 20px;
    text-align: justify;
  }
  #duvidasFrequentes .dFSubtitle::first-letter {
    margin-left: 20px;
  }

  #duvidasFrequentes .dFDesc::first-letter {
    margin-left: 100px;
  }
}

@media (min-height: 600px) {
  #duvidasFrequentes {
    height: 100vh;
  }
}

@media (min-width: 1040px) {
  #duvidasFrequentes .duvidasFrequentesContent {
    padding: 70px;
  }
}

@media (min-width: 1280px) {
  #duvidasFrequentes .duvidasFrequentesContent {
    padding: 120px;
  }
}
