@media (min-width: 280px) {
  #header .logo img {
    height: 70px;
  }

  #homeCarousel .title-main {
    font-size: 28px;
  }

  #homeCarousel .desc-home {
    font-size: 18px;
  }

  #homeCarousel .title-box {
    font-size: 20px;
  }

  #homeCarousel .desc-box {
    font-size: 12px;
  }

  #homeCarousel .wpp-button {
    bottom: 230px;
    left: 10px;
  }

  #build-your-project {
    flex-direction: column !important;
  }

  #build-your-project .title-byp {
    font-size: 30px;
    margin-top: 20px;
  }

  #build-your-project .btn-byp {
    padding: 15px 15px;
    width: 200px;
  }

  #build-your-project .btn-byp p {
    font-size: 20px;
  }

  #projects .cim-img img {
    width: 60px;
  }

  #projects .cim-title {
    font-size: 18px;
  }

  #projects .cim-desc {
    padding: 10px;
    font-size: 16px;
  }

  #projects .filter-btn {
    font-size: 16px;
  }

  #projects .cards-project {
    grid-template-columns: 1fr;
  }

  #projects .card-project {
    max-width: 250px;
  }

  #projects .icons img {
    width: 20px;
  }

  #projects .icons p {
    font-size: 12px;
  }

  #footer {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  #footer .logo img {
    height: 100px;
  }
}

@media (min-width: 340px) {
  #header .logo img {
    height: 100px;
  }

  #homeCarousel .title-main {
    font-size: 340px;
  }

  #homeCarousel .desc-home {
    font-size: 20px;
  }

  #homeCarousel .title-box {
    font-size: 4px;
  }

  #homeCarousel .desc-box {
    font-size: 14px;
  }

  #homeCarousel .wpp-button {
    bottom: 280px;
  }

  #build-your-project .title-byp {
    font-size: 34px;
  }

  #build-your-project .btn-byp {
    width: 240px;
  }

  #projects .card-image img {
    width: 100%;
  }
}

@media (min-width: 400px) {
  #header .logo img {
    height: 100px;
  }

  #homeCarousel .title-main {
    font-size: 40px;
  }

  #homeCarousel .desc-home {
    font-size: 20px;
  }

  #homeCarousel .title-box {
    font-size: 28px;
  }

  #homeCarousel .desc-box {
    font-size: 16px;
  }

  #homeCarousel .wpp-button {
    bottom: 300px;
  }

  #build-your-project .title-byp {
    font-size: 40px;
  }

  #build-your-project .btn-byp {
    padding: 15px 15px;
    width: 250px;
  }

  #projects .card-project {
    max-width: 400px;
  }

  #projects .icons img {
    width: 30px;
  }

  #projects .icon-text {
    font-size: 14px;
    margin-bottom: 0 !important;
    font-weight: bold;
  }
}

@media (min-width: 500px) {
  #header .logo img {
    height: 100px;
  }

  #header .navbar {
    padding: 10px;
  }

  #homeCarousel .title-main {
    font-size: 50px;
  }
  #homeCarousel .desc-home {
    font-size: 24px;
  }

  #homeCarousel .wpp-button {
    bottom: 10px;
  }

  #build-your-project .title-byp {
    font-size: 50px;
  }

  #build-your-project .btn-byp {
    padding: 15px 20px;
    width: 300px;
  }

  #projects .mi-cards {
    grid-template-columns: 1fr 1fr;
  }

  #projects .cim-img img {
    width: 50px;
  }

  #projects .cim-desc {
    padding: 10px;
    font-size: 13px;
  }
}

@media (min-width: 600px) {
  #homeCarousel .title-main {
    font-size: 60px;
  }

  #build-your-project .title-byp {
    font-size: 70px;
  }

  #build-your-project .title-byp {
    font-size: 60px;
  }

  #footer {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  #footer .logo img {
    height: 120px;
  }
}
@media (min-width: 768px) {
  #header .menuHamburguer {
    display: none;
  }

  #header .navbar-desktop {
    gap: 10px;
  }

  #homeCarousel .title-main {
    font-size: 70px;
  }

  #build-your-project .title-byp {
    font-size: 70px;
  }

  #projects .cim-img img {
    width: 70px;
  }

  #projects .cim-title {
    font-size: 20px;
  }

  #projects .cim-desc {
    padding: 10px;
    font-size: 16px;
  }

  #projects .filter-btn {
    font-size: 20px;
  }

  #projects .cards-project {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  #header .navbar-desktop > .nav-item {
    display: none;
  }
}

@media (min-width: 900px) {
  #header .nav-link {
    font-size: 22px;
  }

  #header .navbar-desktop {
    gap: 30px;
  }

  #homeCarousel .title-main {
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  #header .logo img {
    height: 120px;
  }

  #header .nav-link {
    font-size: 24px;
  }

  #homeCarousel .title-main {
    font-size: 90px;
  }

  #projects .mi-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  #footer .logo img {
    height: 100px;
  }
}

@media (min-width: 1040px) {
  #build-your-project {
    flex-direction: row !important;
  }

  #build-your-project .byp-cover {
    width: 60% !important;
  }

  #build-your-project .byp-content {
    width: 40% !important;
    padding: 30px;
  }

  #projects .box-mi-title {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  #header .logo img {
    height: 150px;
  }

  #header .navbar {
    margin-right: 50px;
  }

  #header .nav-link {
    font-size: 28px;
  }

  #homeCarousel .title-main {
    font-size: 100px;
  }

  #projects .cim-desc {
    margin-bottom: 0 !important;
    background-color: #000;
    color: #fff;
    width: 100%;
  }

  #projects .cards-project {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #footer {
    padding: 40px 100px;
  }

  #footer .logo img {
    height: 120px;
  }
}
