* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#header {
  width: 100vw;
  position: absolute;
  z-index: 2;
}

#header .navbar-desktop {
  flex-direction: row !important;
}

#header .navbar-mobile {
  align-items: center;
}

#header .logo img {
  height: 180px;
}

#header .nav-link {
  text-decoration: underline !important;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

#header .menuHamburguer img {
  width: 40px;
  height: 40px;
}

#homeCarousel .home-content {
  position: absolute;
  z-index: 1;
  top: 220px;
  left: 50%;
  width: 1000px;
  transform: translateX(-50%);
  text-align: center;
}

#homeCarousel .carousel-item {
  background: url("../assets/background-example.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#homeCarousel .title-main {
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

#homeCarousel .box-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 30px;
  text-align: center;
}

#homeCarousel .title-box {
  font-family: "Times New Roman", Times, serif;
}

#homeCarousel .desc-box {
  font-family: sans-serif;
  font-size: 16px;
}

#homeCarousel .wpp-button {
  padding: 10px;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-radius: 50%;
}

#homeCarousel .wpp-button img {
  width: 50px;
  height: 50px;
}

/*build-your-project*/

#build-your-project {
  background-color: #000;
}

#build-your-project .byp-cover {
  width: 100%;
  height: 700px;
  position: relative;
  background: url("../assets/cover-example.jpg") no-repeat center center;
}

#build-your-project .title-byp {
  text-align: start;
  color: white;
}

#build-your-project .btn-byp {
  border: 2px solid #fff;
  background: transparent;
  padding: 15px 20px;
  width: 300px;
}

#build-your-project .btn-byp {
  margin-bottom: 0;
  font-size: 20px;
  text-decoration: underline;
  color: #fff !important;
}

#build-your-project .byp-content {
  max-width: 700px;
  padding: 20px;
}

#build-your-project .byp-content-title {
  color: #88ca68;
  font-size: 20px;
}

#build-your-project .byp-content-desc {
  color: #fff;
  font-size: 16px;
}

/*more-infos*/

#projects .box-mi-title {
  padding: 10px 0;
  border-bottom: 4px solid black;
  margin: 20px auto 40px;
}

#projects .more-infos-title {
  text-align: center;
  color: #000;
  font-size: 28px;
}

#projects .more-infos-title img {
  width: 40px;
  margin-left: -10px;
}

#projects .mi-cards {
  display: grid;
  justify-items: center;
  gap: 20px;
}

#projects .card-info-more {
  background-color: #d9d9d9;
  padding: 20px 20px;
  width: 100%;
}

#projects .cim-title {
  font-size: 20px;
  font-weight: bold;
}

#projects .cim-desc {
  padding: 10px 100px 10px 10px;
  margin-bottom: 0 !important;
  background-color: #000;
  color: #fff;
  width: 100%;
}

#projects .box-btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  width: 20px;
  margin: 20px 0;
}

#projects .line {
  width: 100%;
  height: 3px;
  background-color: #000;
}

#projects .box-btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  max-width: 200px;
  margin: 20px 0;
}

#projects .filter-btn {
  border: 1px solid #fff;
  padding: 10px 50px;
  text-align: center;
}

#projects .cards-project {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

#projects .card-project {
  max-width: 400px;
}

#projects .card-image img {
  width: 100%;
  height: 100%;
}

#projects .icon-text {
  margin-bottom: 0 !important;
  font-weight: bold;
}

#projects .card-project-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#projects .pc-title {
  font-size: 30px;
}

/*footer*/
#footer {
  display: grid;
  background-color: #000;
  padding: 20px 10px;
  margin-top: 100px;
}

#footer .footer-content-title {
  color: #88ca68;
  font-size: 20px;
}

#footer .footer-content-title::before {
  content: "| ";
}

#footer .footer-content-desc {
  font-size: 14px;
  color: #fff;
  padding: 5px 40px 0 10px;
}

#footer .social-medias img {
  width: 30px;
}

#footer .footer-ul {
  list-style: none;
}

#footer .footer-li a {
  color: #fff;
  text-decoration: none;
}

#footer .acesso-rapido-site-seguro img {
  width: 100px;
  margin: 10px 0 0 20px;
}

#footer .card-contato img {
  width: 40px;
}

#footer .footer-contato-title {
  color: #777;
  font-size: 18px;
}

#footer .footer-contato-desc {
  font-size: 14px;
  color: #e4e4e4;
}

#footer .footer-contato-desc a {
  text-decoration: none;
  color: #e4e4e4;
}
