#levantamentoTopografico .levantamentoTopograficoDesc {
  margin: 0 auto;
  font-weight: bold;
  margin: 30px 0 50px;
}

#levantamentoTopografico .image {
  width: 100%;
  position: relative;
}

#levantamentoTopografico .image img {
  width: 100%;
}

.boxCircle {
  position: absolute;
}

.rectangle {
  background-color: #9bcd68;
  position: absolute;
  z-index: 1;
  left: 0;
}

.circle {
  background: url("../assets/background-example.jpg") center center;
  border-radius: 50%;
  /* border: 10px solid #9bcd68; */
  position: relative;
  z-index: 3;
  /* margin-left: 50px; */
}
