@media (min-width: 0px) {
  #projetosComplementaresInfo .boxTitle {
    flex-direction: column;
    margin: 30px 10px;
    padding: 0;
  }

  #projetosComplementaresInfo .line {
    width: 100%;
  }

  #projetosComplementaresInfo .accordion-collapse {
    top: 200px;
  }

  #projetosComplementaresInfo .descAbove {
    font-size: 14px;
  }
  #projetosComplementaresInfo .images {
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #projetosComplementaresInfo .square {
    width: 75px;
    height: 75px;
    bottom: 0px;
    left: 0;
  }

  #projetosComplementaresInfo .buttonText {
    bottom: -260px;
    flex-direction: column;
    gap: 20px;
  }

  #projetosComplementaresInfo .lBButton {
    width: 100%;
    bottom: 0;
  }

  #projetosComplementaresInfo .lBButton img {
    width: 40px;
  }

  #projetosComplementaresInfo .lBButtonDesc {
    padding: 10px 30px 10px 20px;
    width: 100%;
  }

  #projetosComplementaresInfo .boxBelowDesc {
    color: #000;
    text-align: justify;
    font-size: 14px;
  }
}

@media (min-width: 340px) {
  #projetosComplementaresInfo .descAbove {
    font-size: 16px;
  }
  #projetosComplementaresInfo .images {
    height: 20vh;
    background-size: cover;
  }

  #projetosComplementaresInfo .square {
    width: 150px;
    height: 150px;
    bottom: -75px;
  }

  #projetosComplementaresInfo .buttonText {
    bottom: -330px;
  }

  #projetosComplementaresInfo .boxBelowDesc {
    font-size: 16px;
  }
}

@media (min-width: 400px) {
  #projetosComplementaresInfo .accordion-button {
    font-size: 18px;
  }

  #projetosComplementaresInfo .accordion-collapse {
    top: 220px;
  }
  #projetosComplementaresInfo .images {
    height: 30vh;
  }

  #projetosComplementaresInfo .square {
    width: 150px;
    height: 150px;
    bottom: -50px;
  }

  #projetosComplementaresInfo .buttonText {
    bottom: -280px;
  }
}

@media (min-width: 500px) {
  #projetosComplementaresInfo .accordion-button {
    font-size: 20px;
  }

  #projetosComplementaresInfo .accordion-collapse {
    top: 220px;
  }
  #projetosComplementaresInfo .square {
    width: 180px;
    height: 180px;
    bottom: -75px;
  }

  #projetosComplementaresInfo .buttonText {
    bottom: -200px !important;
    align-items: flex-end !important;
  }

  #projetosComplementaresInfo .lBButton {
    width: 50%;
  }
}

@media (min-width: 600px) {
  #projetosComplementaresInfo .accordion-button {
    font-size: 22px;
  }

  #projetosComplementaresInfo .accordion-collapse {
    top: 230px;
  }
  #projetosComplementaresInfo .descAbove {
    font-size: 18px;
  }

  #projetosComplementaresInfo .buttonText {
    bottom: -215px !important;
    align-items: flex-end !important;
  }

  #projetosComplementaresInfo .boxBelowDesc {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #projetosComplementaresInfo .accordion {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  #projetosComplementaresInfo .accordion-button {
    font-size: 20px;
  }

  #projetosComplementaresInfo .accordion-collapse {
    top: 50px;
    padding-bottom: 200px !important;
  }

  #projetosComplementaresInfo .descAbove {
    font-size: 18px;
    padding-top: 30px;
  }

  #projetosComplementaresInfo .buttonText {
    bottom: -185px !important;
    align-items: flex-end !important;
  }
}

@media (min-width: 900px) {
  #projetosComplementaresInfo .accordion {
    gap: 30px;
  }

  #projetosComplementaresInfo .accordion-button {
    font-size: 24px;
  }

  #projetosComplementaresInfo .descAbove {
    font-size: 20px;
  }

  #projetosComplementaresInfo .buttonText {
    bottom: -225px !important;
    align-items: flex-end !important;
  }

  #projetosComplementaresInfo .boxBelowDesc {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  #projetosComplementaresInfo .images {
    position: relative;
    background: url("../assets/background-example.jpg") center center;
    width: 100%;
    height: 60vh;
    background-size: cover;
    -webkit-box-shadow: 550px 70px 0px 70px rgba(0, 0, 0, 1);
    -moz-box-shadow: 550px 70px 0px 70px rgba(0, 0, 0, 1);
    box-shadow: 550px 70px 0px 70px rgba(0, 0, 0, 1);
  }

  #projetosComplementaresInfo .square {
    width: 300px;
    height: 300px;
    bottom: -100px;
    left: -40px;
  }

  #projetosComplementaresInfo .buttonText {
    gap: 50px;
    bottom: -100px !important;
    right: 0;
    left: 260px;
    flex-direction: row;
  }

  #projetosComplementaresInfo .lBButton {
    width: 300px;
  }

  #projetosComplementaresInfo .lBButton img {
    width: 50px;
  }

  #projetosComplementaresInfo .lBButtonDesc {
    padding: 10px 30px 10px 20px;
    width: 100%;
  }

  #projetosComplementaresInfo .boxBelowDesc {
    margin-bottom: -20px !important;
    max-width: 600px;
    font-size: 16px;
    color: #fff;
  }
}

@media (min-width: 1040px) {
  #projetosComplementaresInfo .images {
    -webkit-box-shadow: 550px 70px 0px 70px rgba(0, 0, 0, 1);
    -moz-box-shadow: 550px 70px 0px 70px rgba(0, 0, 0, 1);
    box-shadow: 550px 70px 0px 70px rgba(0, 0, 0, 1);
  }

  #projetosComplementaresInfo .buttonText {
    gap: 60px;
    bottom: -100px !important;
    right: 0;
    left: 260px;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  #projetosComplementaresInfo .images {
    -webkit-box-shadow: 600px 70px 0px 70px rgba(0, 0, 0, 1);
    -moz-box-shadow: 600px 70px 0px 70px rgba(0, 0, 0, 1);
    box-shadow: 600px 70px 0px 70px rgba(0, 0, 0, 1);
  }

  #projetosComplementaresInfo .buttonText {
    gap: 100px;
    bottom: -100px !important;
    right: 0;
    left: 260px;
    flex-direction: row;
  }

  #projetosComplementaresInfo .boxBelowDesc {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  #projetosComplementaresInfo .images {
    -webkit-box-shadow: 700px 70px 0px 70px rgba(0, 0, 0, 1);
    -moz-box-shadow: 700px 70px 0px 70px rgba(0, 0, 0, 1);
    box-shadow: 700px 70px 0px 70px rgba(0, 0, 0, 1);
  }

  #projetosComplementaresInfo .boxBelowDesc {
    font-size: 20px;
  }
}
