@media (min-width: 0px) {
  .titleList {
    font-size: 20px !important;
  }

  .projetoGasDesc {
    font-size: 14px;
    padding-right: 10px;
  }
}

@media (min-width: 340px) {
  .titleList {
    font-size: 24px !important;
  }

  .projetoGasDesc {
    font-size: 16px;
  }
}

@media (min-width: 400px) {
  .titleList {
    font-size: 28px !important;
  }
}

@media (min-width: 500px) {
  .titleList {
    font-size: 30px !important;
  }
}

@media (min-width: 768px) {
  .projetoGasDesc::first-letter {
    margin-left: 50px;
  }
}

@media (min-width: 992px) {
  .titleList {
    font-size: 36px !important;
  }

  .projetoGasDesc {
    font-size: 18px;
  }
}

@media (min-width: 1040px) {
  .titleList {
    font-size: 40px !important;
  }

  .projetoGasDesc {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .projetoGasDesc {
    font-size: 22px;
  }
}
