#projetoHidraulico .projetoHidraulicoDesc {
  margin: 0 auto;
  font-weight: bold;
  margin-top: 30px;
}

.image {
  width: 100%;
  position: relative;
}

.image img {
  width: 100%;
}

.projetoHidraulicoDescBelow {
  margin-bottom: 0 !important;
}
