body {
  background-color: #000;
}

#projetosComplementares .projetosCTitle {
  color: #fff;
  font-size: 40px;
}

#projetosComplementares .projetosCDesc {
  color: #88ca68;
}

#projetosComplementares .projetosCCards {
  display: grid;
  gap: 30px;
}

#projetosComplementares .pcCard {
  max-width: 400px;
}

#projetosComplementares .pcCardNumber {
  color: #464c40;
  font-size: 40px;
}

#projetosComplementares .pcCardImage {
  width: 100%;
}

#projetosComplementares .pcCardTitle {
  color: #88ca68;
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
  margin: 10px 0;
}

#projetosComplementares .pcCardDesc {
  color: #fff;
  font-size: 14px;
}

#projetosComplementares .pcCardDesc::first-letter {
  padding-left: 30px;
}
