.pCITitle {
  font-family: serif;
  text-transform: uppercase;
}

.line {
  height: 3px;
  width: 60%;
  background-color: #9bcd68;
}

.accordion {
  position: relative !important;
  background-color: #000 !important;
  --bs-accordion-bg: #000 !important;
  --bs-accordion-btn-active-icon: none !important;
  --bs-accordion-btn-icon: none !important;
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: #000 !important;
  --bs-accordion-border-width: 0 !important;
}

.accordion-item {
  background-color: #000 !important;
  border: 0 !important;
}

.accordion-collapse {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%);
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:first-of-type {
  border-radius: 0 !important;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.accordion-button {
  color: #fff !important;
}

.descAbove {
  font-weight: bold;
  width: 100%;
  text-align: justify;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

.images {
  position: relative;
  background: url("../assets/background-example.jpg") center center;
  background-size: contain;
  width: 100%;
}

.imageBackground {
  width: 100%;
}

.square {
  background: url("../assets/background-example.jpg") center center;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  position: absolute;
}

.buttonText {
  position: absolute;
}

.lBButton {
  background-color: #d9d9d9;
  padding: 10px;
}

.lBButtonDesc {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}