main {
  height: 100;
  background-color: #000;
}
#sobreNos {
  background-color: #000;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#sobreNos .sobreNosImage img {
  width: 100%;
}
#sobreNos .sobreNosTitle {
  color: #fff;
  padding: 30px 0;
  border-bottom: 3px solid #769c4f;
  font-family: serif;
}

#sobreNos .sobreNosDesc {
  color: #fff;
  padding: 30px 0;
  max-width: 800px;
}

#sobreNos .sobreNosList {
  padding-left: 0 !important;
}

#sobreNos .sNListNumber {
  color: #464c40;
}

#sobreNos .sNListDesc {
  color: #fff;
}

.title-box {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.sobreNosCards {
  background-color: #9bcd68;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 400px));
  justify-items: center;
  justify-content: center;
  gap: 30px;
}
